*{
	box-sizing: border-box;
}
html, body{
	background-color: #f9f9f9;
	font-family: $fonts1;
	font-size: 16px;
}
.hidden{
	display: none;
}

.wrp{
	overflow: hidden;
	&__inner{
		position: relative;
		left: 0;
		padding-top: 67px;
		transition: all 0.5s ease-in-out;
		&.menu-active{
			transform: translate(230px,0);
		}
		
	}
}