<div class="certificates">
    <div class="certificates__inner">
        <h2 class="certificates__h2">Лицензия</h2>
        <div class="js-certificates">
            <a class="certificates__item" data-fancybox="gallery" href="img/lic-dep-2.jpg">
                <img class="b-lazy" data-src="img/lic-dep-2.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="">
            </a>
            <a class="certificates__item" data-fancybox="gallery" href="img/lic-dep-2.jpg">
                <img class="b-lazy" data-src="img/lic-dep-2.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="">
            </a>
            <a class="certificates__item" data-fancybox="gallery" href="img/lic-dep-2.jpg">
                <img class="b-lazy" data-src="img/lic-dep-2.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="">
            </a>
            <a class="certificates__item" data-fancybox="gallery" href="img/lic-dep-2.jpg">
                <img class="b-lazy" data-src="img/lic-dep-2.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="">
            </a>
            <a class="certificates__item" data-fancybox="gallery" href="img/lic-dep-2.jpg">
                <img class="b-lazy" data-src="img/lic-dep-2.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="">
            </a>
        </div>
        <h2 class="certificates__h2">Сертификаты соответствия</h2>
        <div class="js-certificates">
            <a class="certificates__item" data-fancybox="gallery" href="img/lic-dep-2.jpg">
                <img class="b-lazy" data-src="img/lic-dep-2.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="">
            </a>
            <a class="certificates__item" data-fancybox="gallery" href="img/lic-dep-2.jpg">
                <img class="b-lazy" data-src="img/lic-dep-2.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="">
            </a>
            <a class="certificates__item" data-fancybox="gallery" href="img/lic-dep-2.jpg">
                <img class="b-lazy" data-src="img/lic-dep-2.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="">
            </a>
            <a class="certificates__item" data-fancybox="gallery" href="img/lic-dep-2.jpg">
                <img class="b-lazy" data-src="img/lic-dep-2.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="">
            </a>
            <a class="certificates__item" data-fancybox="gallery" href="img/lic-dep-2.jpg">
                <img class="b-lazy" data-src="img/lic-dep-2.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="">
            </a>
        </div>
        <h2 class="certificates__h2">Менеджмент качества труда</h2>
        <div class="js-certificates">
            <a class="certificates__item" data-fancybox="gallery" href="img/lic-dep-2.jpg">
                <img class="b-lazy" data-src="img/lic-dep-2.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="">
            </a>
            <a class="certificates__item" data-fancybox="gallery" href="img/lic-dep-2.jpg">
                <img class="b-lazy" data-src="img/lic-dep-2.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="">
            </a>
            <a class="certificates__item" data-fancybox="gallery" href="img/lic-dep-2.jpg">
                <img class="b-lazy" data-src="img/lic-dep-2.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="">
            </a>
            <a class="certificates__item" data-fancybox="gallery" href="img/lic-dep-2.jpg">
                <img class="b-lazy" data-src="img/lic-dep-2.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="">
            </a>
            <a class="certificates__item" data-fancybox="gallery" href="img/lic-dep-2.jpg">
                <img class="b-lazy" data-src="img/lic-dep-2.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="">
            </a>
        </div>
        <h2 class="certificates__h2">СТ-KZ</h2>
        <div class="js-certificates">
            <a class="certificates__item" data-fancybox="gallery" href="img/lic-dep-2.jpg">
                <img class="b-lazy" data-src="img/lic-dep-2.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="">
            </a>
            <a class="certificates__item" data-fancybox="gallery" href="img/lic-dep-2.jpg">
                <img class="b-lazy" data-src="img/lic-dep-2.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="">
            </a>
            <a class="certificates__item" data-fancybox="gallery" href="img/lic-dep-2.jpg">
                <img class="b-lazy" data-src="img/lic-dep-2.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="">
            </a>
            <a class="certificates__item" data-fancybox="gallery" href="img/lic-dep-2.jpg">
                <img class="b-lazy" data-src="img/lic-dep-2.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="">
            </a>
            <a class="certificates__item" data-fancybox="gallery" href="img/lic-dep-2.jpg">
                <img class="b-lazy" data-src="img/lic-dep-2.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="">
            </a>
        </div>
        <h2 class="certificates__h2">Партнерские сертификаты</h2>
        <div class="js-certificates">
            <a class="certificates__item" data-fancybox="gallery" href="img/lic-dep-2.jpg">
                <img class="b-lazy" data-src="img/lic-dep-2.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="">
            </a>
            <a class="certificates__item" data-fancybox="gallery" href="img/lic-dep-2.jpg">
                <img class="b-lazy" data-src="img/lic-dep-2.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="">
            </a>
            <a class="certificates__item" data-fancybox="gallery" href="img/lic-dep-2.jpg">
                <img class="b-lazy" data-src="img/lic-dep-2.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="">
            </a>
            <a class="certificates__item" data-fancybox="gallery" href="img/lic-dep-2.jpg">
                <img class="b-lazy" data-src="img/lic-dep-2.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="">
            </a>
            <a class="certificates__item" data-fancybox="gallery" href="img/lic-dep-2.jpg">
                <img class="b-lazy" data-src="img/lic-dep-2.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="">
            </a>
        </div>
    </div>
</div>