<form id="feedback" class="feedback" action="">
    <h3 class="feedback__header">Есть вопросы?</h3>
    <div class="feedback__item">
        <label class="feedback__label" for="name">Ваше имя:</label>
        <input class="feedback__input" id="name" type="text" placeholder="Например: Александр" required>
    </div>
    <div class="feedback__item">
        <label class="feedback__label" for="phone">Телефон<sup>*</sup></label>
        <input class="feedback__input" id="phone" type="text" placeholder="+7 XXХX XX XX XX" required>
    </div>
    <div class="feedback__item">
        <label class="feedback__label" for="email">E-mail</label>
        <textarea class="feedback__textarea" name="" id="" cols="30" rows="10" placeholder="Текст сообщения"></textarea>
    </div>
    <input class="feedback__btn" type="submit">
</form>