<div class="map">
    <div class="map__item">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A824a821435feca831df87a0c35bca0837b74e03bc52b468b78f4f786f277d44b&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=false"></script>
        <div class="map__inner">
            <div class="map__anons color">
                <h5>ОФИС КОМПАНИИ</h5>
                <p>010000, Республика Казахстан<br>
                    г. Астана, ул. Бейсекбаева, 28</p>
                <br>
                <p><b>Тел./факс:</b> +7 (7172) 472-574</p>
                <p><b>Ком. отдел:</b> +7 (7172) 472-575</p>
                <p><b>ПТО:</b> +7 (7172) 472-574</p>
                <p><b>Эл. почта:</b> info@eks-2002.kz</p>
            </div>
        </div>
    </div>
    <div class="map__item">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A824a821435feca831df87a0c35bca0837b74e03bc52b468b78f4f786f277d44b&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=false"></script>
        <div class="map__inner">
            <div class="map__anons">
                <h5>ПРОИЗВОДСТВЕННЫЙ ОТДЕЛ</h5>
                <p>010000, Республика Казахстан<br>
                    г. Астана, ул. Талапкерская, 26Б</p>
                <br>
                <p><b>Склад:</b> +7 707 777 55 11</p>
                <p><b>Нач. производства:</b> +7 (7172) 472-575</p>
                <p><b>Эл. почта:</b> factory@eks-2002.kz</p>
            </div>
        </div>
    </div>
</div>