<div class="partners">
    <div class="partners__inner">
        <h3>Партнеры</h3>
        <div class="partners__slider js-partners">
            <div class="partners__item"><img src="img/mennekes.png" alt=""></div>
            <div class="partners__item"><img src="img/schneider.png" alt=""></div>
            <div class="partners__item"><img src="img/weidmuller.png" alt=""></div>
            <div class="partners__item"><img src="img/spectr-rs.png" alt=""></div>

            <div class="partners__item"><img src="img/mennekes.png" alt=""></div>
            <div class="partners__item"><img src="img/schneider.png" alt=""></div>
            <div class="partners__item"><img src="img/weidmuller.png" alt=""></div>
            <div class="partners__item"><img src="img/spectr-rs.png" alt=""></div>
        </div>
    </div>
</div>
