<div class="upline">
    <div class="upline__inner">
        <a class="upline__logo" href="#"><img src="img/logo.png" alt=""></a>
        <a class="upline__adress" href="#">Республика Казахстан, г. Астана<br> ул. Бейсекбаева, 28</a>
        <a class="upline__mail" href="#">info@eks-2002.kz</a>
        <div class="upline__phone">
            <a href="tel:+77172472574">+7 (7172) 472-574</a><br>
            <a href="tel:+77015166928">+7 701 516 69 28</a>
        </div>
    </div>
    <nav class="nav">
        <div class="nav__inner">
            <a class="nav__item" href="index.html"><span>Главная</span></a>
            <a class="nav__item" href="about.html"><span>О компании</span></a>
            <a class="nav__item" href="equipment.html"><span>Электрощитовое оборудование</span></a>
            <a class="nav__item" href="energetics.html"><span>Энергетика</span></a>
            <a class="nav__item" href="contacts.html"><span>Контакты</span></a>
        </div>
    </nav>
</div>