.feedback{
	width: 100%;
	padding: 30px;
	&__header{
		color: #232323;
		margin: 0 0 20px;
	}
	&__item{
		margin-bottom: 15px;
	}
	&__label{
		display: block;
		margin-bottom: 5px;
		color: #232323;
		font-weight: bold;
	}
	&__input{
		width: 100%;
		height: 52px;
		padding: 0 20px;
		border-radius: 5px;
		border: 1px solid #cccccc;
		color: #cccccc;
	}
	&__textarea{
		width: 100%;
		height: 130px;
		padding: 20px;
		border-radius: 5px;
		border: 1px solid #cccccc;
		color: #cccccc;
	}
	&__btn{
		display: block;
		background-color: #b32954;
		width: 130px;
		height: 46px;
		margin-right: 0;
		margin-left: auto;
		color: #fff;
		font-size: 14px;
		font-weight: 500;
		text-decoration: none;
		text-align: center;
		border-radius: 2px;
		border: none;
		box-shadow: 0 0 10px 0 rgba(#b32954,.6);
	}
}