.footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #4f1232;
	padding: 14px 14px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #fff;
	&__btn{
		background-color: transparent;
		border: none;
		margin: 0;
		padding: 0;
		cursor: pointer;
		outline: none;
	}
}