.header{
	position: relative;
	width: 100%;
	padding: 12px 15px;
	background-color: #4f1232;
	color: #fff;
	img{
		max-width: 100%;
		display: block;
	}
	&__inner{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__menu{
		background-color: transparent;
		border: none;
		width: 30px;
		height: 21px;
		margin: 0;
		padding: 0;
		cursor: pointer;
		outline: none;
	}
	&__logo{
		width: 62px;

	}
	&__lang{
		position: relative;
		list-style: none;
		margin: 0;
		padding: 0;
		li{
			&:last-of-type{
				display: none;
				position: absolute;
			}
		}
		a{
			color: #fff;
			font-weight: normal;
			text-transform: uppercase;
			text-decoration: none;
		}
	}
}